<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">

      {{ #test }}<p class="test">Test Text</p>{{ /test }}

      <h1>Mystery Word</h1>

      <div class="detectiveBox">
        <img src="Untitled-1.png" alt="">
        <p id="talkbubble">{{{message}}}</p>
      </div>

      {{ ^gameOver }}
        <form class="" action="/" method="post">
          <input type="text" name="letter" placeholder="Pick a letter">
          <button type="submit" name="button">Submit</button>
        </form>
      {{ /gameOver }}

      {{ #gameOver }}
        <form class="" action="/" method="get">
          <button type="submit" name="button">Play Again!</button>
        </form>
      {{ /gameOver }}

      <!-- <p>{{word}}</p> -->

      <div class="wordBox">
          {{#letters}}
            <div class="letters"><p>{{.}}</p></div>
          {{/letters}}
      </div>

      <div class="gameStats">
        <div id="statBox">
          <p>GAME STATS:</p>
          <p><span id="yellow">Guesses Remaining:</span> {{lives}}</p>
          <p><span id="yellow">Letters Guessed:</span> {{guesses}}</p>
        </div>
      </div>

    </div>
  </body>
</html>
