<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    <h1>Mystery Word</h1>

    <p>{{word}}</p>

    <div class="wordBox">
        {{#letters}}
          <div class="letters">{{.}}</div>
        {{/letters}}
    </div>

    <form class="" action="/" method="post">
      <input type="text" name="letter" placeholder="Guess a letter in the mystery word">
      <button type="submit" name="button">Submit</button>
    </form>

  </body>
</html>
