<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mystery Word</title>
  </head>
  <body>
    <h1>Mystery Word</h1>

    <form class="" action="/" method="post">
      <input type="text" name="letter" placeholder="Guess a letter in the mystery word">
      <p>{{word}}</p>
      <div class="">
        <ul>
          {{#letters}}
            <li>{{.}}</li>
          {{/letters}}
        </ul>
      </div>

      <div class="">
        <ul>
          {{#letters}}
            <li>{{.}}</li>
          {{/letters}}
        </ul>
      </div>
      <button type="submit" name="button">Submit</button>
    </form>
  </body>
</html>
